.scrollable {
  overflow-x: auto;
}

.scrollable table {
  min-width: 900px;
  border-collapse: collapse;
}

.scrollable td, .scrollable th {
  white-space: nowrap;
  padding: 6px;
  border: 1px solid #ddd;
}

.gray {
  color: #aaa;
  font-style: italic;
  font-size: 0.95em;
}
